

body{
  font: 18px/1.5 'Sarabun', sans-serif;  /*font-size/line-height font-family*/
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
}

#divError{
  color: #d10606;
  font-size: 14px;
  padding-bottom: 5px;
}

#divNewError{
  color: #2E2633;
  font-size: 14px;
  padding-bottom: 5px;
}

#divSuccess{
  color: green;
  font-size: 14px;
  padding-bottom: 5px;
}

.logout{
  cursor: pointer;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
 margin: 0;
 padding: 0;
}

/*Header Styles*/
header{
  background-color: #2E2633;
  padding-top: 18px;
  min-height: 70px;
}

header h1{
  color: #DCE9BE;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.brandname .brandname-h1{
  font-size: 40px;
  text-transform: none;
}

header .brandname{
  float: left;
}

header .brandname h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 15px;
}

header li{
  float: left;
  list-style: none;
  padding: 0 20px 0 20px;
}

header a{
  color: #DCE9BE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.active a{
 color: #99173C;
 font-weight: bold;
}

/*ShowCase*/
#showcase{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  color: #DCE9BE;
  padding-top: 4%;
 }

#showcase h1{
 margin-top: 5%;
 font-size: 70px;
 margin-bottom: 10px;
 letter-spacing: 2px;
}

#showcase p{
 font-size: 40px;
 font-weight: bold;
}

.btn{
  height: 45px;
  background-color: #99173C;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 0 15px 0 15px;
  font-size: 20px;
  margin-left: 10px;
  outline: none;
  color: #DCE9BE
}

/*Global*/
.btn-colored:hover{
  color: #DCE9BE;
  background-color: transparent;
  border: 1px solid #99173C;
}

/*Global*/
.btn-trans{
  background-color: transparent;
  border: 1px solid #DCE9BE;
}

 /*Global*/
.btn-trans:hover{
  color: #DCE9BE;
  background-color: transparent;
  border: 1px solid #99173C;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
}

/*Global*/
.btn-trans a, .btn-colored a{
  text-decoration: none;
  color: #DCE9BE;
}

.btn-dark:hover{
  background-color: transparent;
  border: 1px solid #99173C;
}

.btn-dark a:hover{
  color: #DCE9BE;
}

/*---------------------------ABOUT PAGE---------------------------------*/
.fix-height{
  height: 110vh;
}

.page-strip{
  background-color: #99173C;
  height: 5%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.strip-mend{
  background-color: #99173C; 
}

.form-strip{
  height: 1vh;
}

.page-strip p{
  margin: 0;
  color: #ffffff;
  text-align: center;
  padding: 0.7% 0 0.7% 0;
  font-size: 30px;
}

.strip-mend p{
  margin: 0;
  color: #DCE9BE;
  text-align: center;
  padding: 0;
  font-size: 28px;
}

.p-start{
  padding-top: 25px;
}

#main-signup{
  border-radius: 4px;
  width: 45%;
  height: auto;
  text-align: center;
  /* margin: 25px 80px 25px 80px; */
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 10% auto;
 }

 #main-about{
  border-radius: 4px;
  width: 70%;
  height: auto;
  text-align: center;
  margin: 25px 80px 25px 80px;
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 25px auto;
 }

#main-about p, #main-profile p{
  margin: 0 10% 5% 4%;
  line-height: 2.0;
  letter-spacing: 2px;
}

footer{
 background-color: #2E2633;
 padding: 8px;
 color: #DCE9BE;
 text-align: center;
}

footer p{
 letter-spacing: 1.5px;
 margin-bottom: 0;
}

.footer-contact-text, .footer-header{
  padding-right: 15px;
}

.footer-contact-text i, .footer-header i{
  padding-right: 7px;
}
/*---------------------------SIGNUP PAGE---------------------------------*/


/*Global*/
form{
  padding: 5px 20px 0 20px;
}

 /*Global*/
.form-field{
  display: block;
  margin: 5px 0 5px 0;
}

 /*Global*/
.form-field input, .form-field select{
  min-width: 90%;
  height: 35px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  font-family: Arial;
  margin-bottom: 15px;
}

 /*Global*/
.form-field textarea{
  min-width: 90%;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
  font-family: Arial;
  margin-bottom: 10px;
}

 /*Global*/
form input, form select{
  outline: none;
  border: 1px solid #2E2633;
}

#main-signup .form-text, #main-signin .form-text, #create-office .form-text, #candidate .form-text{
   color: #DCE9BE;
   font-size: 34px;
   margin-top: 15px;
   margin-bottom: 0;
   text-align: center;
}

form p{
  text-decoration: none;
  color: #DCE9BE;
}

form p:hover{
  color: #99173C;
  cursor: pointer;
}

.btn-signup{
  margin: 0 auto;
  width: 90%;
}


/*---------------------------SIGNIN PAGE---------------------------------*/
#main-signin{
  border-radius: 4px;
  width: 45%;
  height: auto;
  text-align: left;
  /* margin: 25px 80px 25px 80px; */
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 10% auto;
 }

 #candidate{
  border-radius: 4px;
  width: 45%;
  height: auto;
  text-align: center;
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 10% auto;
 }

#main-signin p{
  margin: 0 10% 5% 0;
  line-height: 2.0;
  letter-spacing: 2px;
}

.btn-signin{
  margin: 15px 0 40px 0;
  width: 90%;
}

.modal, .modal-reset, .modal-petition, .modal-delete, .modal-edit{
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  padding-top: 4%;
}

.delete{
  cursor: pointer;
}
.modal p, .modal-reset p, .modal-petition p, .delete-modal p, .edit-modal p{
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 10px;
  color: #DCE9BE;
}

.forgotPassword-modal, .resetPassword-modal, .createPetition-modal{
  margin: 0 auto;
  width: 40%;
  background-color: #99173C;
  padding: 3% 0;
  border-radius: 4px;
  text-align: center;
}

.resetPassword-modal p{
  color: #DCE9BE;
  text-align: center
}

.forgotPassword input, .resetPassword input, .createPetition input, .modal-edit  .edit-input{
  min-width: 80%;
}

.resetPassword{
  margin: auto;
}

.btn-cancel-modal{
  background-color: #2E2633;  
  color: #DCE9BE;
  cursor: pointer;
}

.btn-submit-modal{
  background-color: #DCE9BE;
  color: #2E2633;
  cursor: pointer;
}

.btn-submit-modal a{
  color: #2E2633;
  text-decoration: none;
}

#input-password{
  margin: 0 0 0 0;
}

.password-field{
  margin: 0 0 0 0;
}
/*---------------------------USER PROFILE PAGE------------------------------*/
#main-profile, .main-admin-profile{
  height: auto;
  text-align: center;
  margin: 10% 80px; 
  color: #DCE9BE;
 }

.reset-password{
  cursor: pointer;
}

#main-profile, .main-admin-profile{
  height: 58vh;
}

.flex-container{
  display: flex;
  height: 100%;
}
.card{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-color: #2E2633;
  height: 90%;
  width: 30%;
  margin: 20px 20px 20px 20px;
  border-radius: 3px;
  transition: transform 0.2s, opacity 0.2s;
}

.card:hover{
  transform: scale(1.10);
  opacity: 1;
}

.card .btn{
  margin: 50% auto;
  color: #DCE9BE;
}

/*---------------------------USER PARTIES---------------------------------*/
#view-party{
  text-align: center;
  height: 100vh;
  overflow: scroll;
  margin: auto;
  padding-bottom: 2rem;
}

.card-party{
  height: auto;
  margin: 25px 80px 0 80px;
  border: 1px solid #DCE9BE;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #DCE9BE;
  color: #2E2633;
  display: flex;
}

.card-result{
  margin: 25px 80px 0 80px !important;
}

.title-header{
  background-color: #99173C;
  color: #DCE9BE;
  padding: 0 20px;
  border-radius: 4px;
  font-size: 24px;
}

.title-mobile{
  display: none;
  background-color: #99173C;
  color: #DCE9BE;
  padding: 0 20px;
  border-radius: 4px;
  font-size: 24px;
}


.leading-p {
  margin-top: 35px;
}

.party-main{
  flex: 3;
  text-align: left;
  border-right: 2px solid #bfbfbf;
  /* box-shadow: 5px 0px 5px #2E2633; */
}

.party-main-admin{
  flex: 3;
  text-align: center;
  border-right: 2px solid #bfbfbf;
  /* box-shadow: 5px 0px 5px #2E2633; */
}

.party-main-parties{
  flex: 3;
  text-align: center;
  border-right: none;
  /* box-shadow: 5px 0px 5px #2E2633; */
}

.card-party #party-title{
  font-weight: bold;
}

.party-main p{
  margin: 20px;
}

.party-logo{
  background-position: center;
  background-size: contain;
  flex: 1;
  /* box-shadow: 5px 0px 5px #2E2633; */
}

.party-logo img{
  width: 90%;
  height: 140px;
  margin-top: 10px;
}

.party-main .edit{
  border: 1px solid #78e08f;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #78e08f;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
  margin: 1rem;
}

.party-main .edit:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #7bed9f;
}

.party-main .delete{
  border: 1px solid #99173C;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #99173C;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
  margin: 1rem;
}

.party-main .delete:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #99173C;
  }
  
/*---------------------------VOTE---------------------------------*/
.select-candidate{
  width: 80%;
  margin-top: 10%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #2E2633;
  padding-left: 10px;
  font-size: 16px;
}

#vote-office{
  text-align: center;
  height: 100vh;
  overflow: scroll;
  margin: auto;
}

.office-main{
  flex: 2;
  text-align: left;
  border-right: 2px solid #DCE9BE;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.office-main p{
  margin: 20px;
}

.office-main p a{
  cursor: pointer;
}

.office-main p a:hover{
  text-decoration: underline;
}

.office-vote{
  flex: 3;
  text-align: left;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.office-vote button{
  margin-top: 30px;
}

.office-vote button:hover{
  cursor: pointer;
}

.modal-main-vote{
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  padding-top: 4%;
}

.modal-main-vote p{
  text-transform: uppercase;
  font-size: 24px;
}

.vote-modal{
  width: 60%;
  overflow: auto;
  background-color: #99173C;
  padding: 3% 0 5% 0;
  border-radius: 4px;
}

.vote-modal form{
  margin-top: 0;
}

.vote-modal input{
  min-width: 50%;
}

.vote-modal{
  margin: auto;
}

.office-vote-flex{
  display: flex;
}

.candidate-party{
  flex: 2;
  text-align: left;
  padding-left: 30px;
}

.candidate{
  flex: 3;
  border-right: 2px solid #DCE9BE;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: left;
  padding-left: 30px;
}


.radio-input{
  display: block;
}

.radio-input, .candidate-party-select{
  margin: 10px 0;
}

.submit-vote{
  height: 10%;
}

.submit-vote{
  margin-top: 20px;
}

.btn-vote:hover{
  color: #2E2633;
}

/*---------------------------VIEW VOTES---------------------------------*/
.view-candidate, .view-candidate-party{
  text-align: left;
  padding-top: 10px;
}

.candidate-name{
  margin: 10px auto; 
}

.title-span {
  font-weight: 900 !important;
}

/*---------------------------CANDIDATE---------------------------------*/
/*Sign in styles*/
.create-petition:hover{
  cursor: pointer;
}

.createPetition select, .createPetition textarea{
  width: 60% !important;
}

.party-main .delete:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #99173C;
}

.form-field .petition-textarea{
  min-width: 90%;
}

/*---------------------------RESULTS---------------------------------*/

.modal-result{
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  padding-top: 4%;
}

.result-modal{
  margin: 3% auto;
  width: 70%;
  background-color: #DCE9BE;
  padding: 1% 0 0 0;
  border-radius: 4px;
  text-align: center;
}

.result-modal p{
  font-size: 18px;
  margin-top: 10px;
  color: #2E2633;
  text-align: left;
  padding-left: 20px;
}

.result{
  border-bottom: 1px solid #2E2633;
  display: flex;
}

.result-candidate{
  flex: 2;
}

.result-party{
  flex: 1;
}

.result-votes{
  flex: 1;
}
/*---------------------------ADMIN PROFILE---------------------------------*/
#admin-profile{
 /* height: 80vh; */
}

.createPetition select, .createPetition textarea{
  width: 60% !important;
}

#main-admin-profile{
  height: auto;
  text-align: center;
  margin: 60px 80px;
  color: #DCE9BE;
 }

/*---------------------------ADMIN CREATE PARTY---------------------------------*/
.nav-menu .admin-dropdown-ul{
  display: block;
}

/*---------------------------ADMIN VIEW PARTY---------------------------------*/

.confirm-delete{
  cursor: pointer;
}

.party-main-admin .edit{
  border: 1px solid #78e08f;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #78e08f;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.party-main-admin .edit:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #7bed9f;
}

.admin-card{
  padding-bottom: 20px;
}
.party-main-admin .delete{
  border: 1px solid #99173C;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #99173C;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
}

.party-main-admin .delete:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #99173C;
}

.modal-edit input{
  margin: 15px;
  height: 45px;
  border-radius: 3px;
  padding-left: 20px;
  font-size: 18px;
}

form#edit-form{
  padding-bottom: 10px;
}

/*---------------------------CREATE OFFICE---------------------------------*/

#create-office{
  border-radius: 4px;
  width: 45%;
  height: auto;
  text-align: center;
  /* margin: 25px 80px 25px 80px; */
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 10% auto;
 }
/*---------------------------MEDIA QUERIES---------------------------------*/

@media(max-width:768px){
  /*INDEX PAGE*/
  .btn-index{
      margin: 10px;
  }

  .sticky {
      position: relative;
    }

  header{
      padding: 20px 0 20px 0;
      min-height: 30px;
  }

  .hamburger{
      width: 35px;
      height: 5px;
      background-color: #f5f6fa;
      margin: 6px 0;
      background-color: #DCE9BE;
    }

  .brandname{
        float: left
    }

  .menu-ham{
      margin-top: 10px;
      float: right;
      cursor: pointer;
    }

  header li{
      float: none;
      list-style: none;
      padding: 10px 5px 10px 10px;
      border-bottom: 1px solid #99173C;
      display: block;
  }

  .nav-menu{
      display: none;
      width: 100%;
      text-align: left;
      margin: 0;
  }

  .nav-menu.open{
      display: block;
  }

  #showcase{
      height: 75vh;
      padding-top: 20%;
     }

  #showcase h1{
      font-size: 45px;
      margin-bottom: 10px;
      letter-spacing: 2px;
   }
   
   #showcase p{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20%;
   }

   /*---------ABOUT PAGE-----------*/
   #main-about, #main-signup{
      width: 90%;
      margin: 25px auto;
      text-align: center;
      border: 1px solid #2E2633;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     }
  
  #main-about p{
      margin: 5% 5% 5% 5%;
      line-height: 1.0;
      letter-spacing: 2px;
  }

  form{
      padding: 40px 0 20px 0;
    }

  .form-field input{
      min-width: 100%;
    }
   
     /*Global*/
  .form-field textarea{
      min-width: 100%;
    }

  /*---------SIGNIN PAGE-----------*/

  #main-signin{
      width: 90%;
      margin: 25px auto;
      height: auto;
     }

  .forgotPassword-modal{
      margin-top: 30%;
      width: 80%;
  }

  .forgotPassword input{
      min-width: 50%;
  }

  p#forgotPass {
      text-align: left !important;
  }

   /*---------PROFILE PAGE-----------*/

   .resetPassword-modal{
      margin-top: 30%;
      width: 90%;
  }

  .resetPassword input{
      min-width: 80%;
  }

  #main-profile, .main-admin-profile{
      height: auto;
      text-align: center;
      margin: 25px;
      color: #DCE9BE;
  }

  .flex-container{
      height: 80%;
      display: block;
      margin-top: 20px;
  }
  .card{
      background-color: #2E2633;
      height: 38%;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
      border-radius: 3px;
  }

  .card .btn{
      margin: 20% auto;
  }

  .card-party{
      margin: 25px;
  }

  .vote-card-party{
      flex-direction: column;
  }

  .party-main{
      flex: 3;
  }
  
  .party-main p{
      margin: 20px 0 20px 20px;
  }
  
  .party-logo{
      flex: 2;
  }

  .party-logo img{
      width: 90%;
      height: 100px;
      margin: 80px 0;
  }

  /*---------------------------ADMIN VIEW PARTY---------------------------------*/

.party-main .edit{
  border: 1px solid #78e08f;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #78e08f;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
  margin: 1rem;
  display: block;
}

.party-main .edit:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #7bed9f;
}

.admin-card{
  padding-bottom: 20px;
}

.party-main .delete{
  border: 1px solid #99173C;
  border-radius: 3px; 
  padding: 8px 20px;
  background-color: #99173C;
  color: #f5f6fa;
  font-weight: 100;
  text-decoration: none;
  display: block;
  margin: 1rem;
}

.party-main .delete:hover{
  background-color: #DCE9BE;
  color: #2E2633;
  border: 1px solid #99173C;
  }

  /*-------------------VOTE---------------------*/

  .select-candidate {
      width: 80%;
      font-size: 14px;
      margin-bottom: 15px;
  }

  .office-vote button{
      padding: 0 10px;
      margin-top: 35px;
  }

  .candidate-party{
      padding-left: 10px;
  }
  
  .candidate{
      padding: 0 10px;
      padding-left: 20px;
  }

  .title-header{
      display: none;
  }
  
  .title-mobile{
      display: block;
  }

  .party-main{
      border-right: none;
  }
  /*-------------------VIEW VOTE---------------------*/
  .view-candidate, .view-candidate-party{
      text-align: center;
      padding-top: 5px;
  }

  .form-field select{
      width: 100%;
  }

  /*CREATE PETITION*/
  .createPetition-modal{
      width: 80%;
      margin-top: 15%;
  }

  .createPetition{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 15px;
  }

  /*-------------------CANDIDATE---------------------*/
  #candidate{
      width: 80%;
  }

  /*-------------------ADMIN PROFILE---------------------*/
  #admin-profile{
      height: auto;
  }

  #main-admin-profile{
      margin: 25px;
     }

  #main-admin-profile .card .btn{
      margin-top: 20%;
  }

  /*-------------------ADMIN CREATE OFFICE---------------------*/
  
  #create-office{
      height: 58vh;
      margin: 25px auto;
      width: 80%;
  }
}

.createPetition select, .createPetition textarea{
  width: 60% !important;
}

/*---------------------------ADMIN PROFILE---------------------------------*/


#main-admin-profile .card .btn{
  margin-top: 51%;
  margin: 0 auto;
  color: #DCE9BE;
  width: 80%;
  margin-top: 30%;
  color: #DCE9BE;
 }

/*---------------------------ADMIN CREATE PARTY---------------------------------*/
.nav-menu .admin-dropdown-ul{
  display: block;
}
