footer{
  background-color: #2E2633;
  padding: 8px;
  color: #DCE9BE;
  text-align: center;
  // Make the footer fixed
  position: absolute;
  bottom: 0;
  min-width: 100vw;

  position: absolute;
  right: 0;
  left: 0;
}

footer p{
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.footer-contact-text, .footer-header{
   padding-right: 15px;
}

.footer-contact-text i, .footer-header i{
   padding-right: 7px;
}
