#showcase{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1540910419892-4a36d2c3266c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100%-52px);
  text-align: center;
  color: #DCE9BE;
  padding: 12% 0 13% 0;
 }

#showcase h1{
 margin-top: 5%;
 font-size: 70px;
 margin-bottom: 10px;
 letter-spacing: 2px;
}

#showcase p{
 font-size: 40px;
 font-weight: bold;
}
