.p-start{
  padding-top: 25px;
}

#main-about{
  border-radius: 4px;
  width: 70%;
  height: auto;
  text-align: center;
  border: 1px solid #2E2633;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #2E2633;
  color: #DCE9BE;
  margin: 5rem auto;
}

#main-about p, #main-profile p{
  margin: 0 10% 5% 4%;
  line-height: 2.0;
  letter-spacing: 2px;
}

@media(max-width:768px){

  #main-about{
    width: 90%;
    margin: 5rem auto;
    text-align: center;
    border: 1px solid #2E2633;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   }

#main-about p{
    margin: 5% 5%;
    line-height: 1.0;
    letter-spacing: 2px;
  }
}
